<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="INFO">
    <Properties>
        <Property name="logNm">Studit-Web-Log</Property>
        <Property name="layoutPattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Property>
        <Property name="queryLayoutPattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %n    %msg%n%n</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${layoutPattern}"/>
        </Console>

        <Console name="console-query" target="SYSTEM_OUT">
            <PatternLayout pattern="${queryLayoutPattern}"/>
        </Console>

        <RollingFile name="RollingFile">
            <FileName>logs/${logNm}.log</FileName>
            <FilePattern>logs/archive/${logNm}_%d{yyy-MM-dd}_%i.log.gz</FilePattern>
            <PatternLayout pattern="${layoutPattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </Appenders>

    <Loggers>

        <logger name="org.springframework" level="ERROR" additivity="false">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="console"/>
        </logger>
        <logger name="jdbc.sqltiming" level="INFO" additivity="false">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="console-query"/>
        </logger>
        <logger name="com.mybatis" level="DEBUG" additivity="false">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="console"/>
        </logger>

        <logger name="jdbc.sqlonly" level="OFF" additivity="false"/>
        <logger name="jdbc.resultsettable" level="OFF" additivity="false"/>
        <logger name="jdbc.audit" level="OFF" additivity="false"/>
        <logger name="jdbc.resultset" level="OFF" additivity="false"/>
        <logger name="jdbc.connection" level="OFF" additivity="false"/>

        <Root level="INFO">
            <AppenderRef ref="console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>